USE [master]
GO
/****** Object:  Database [CONSULTORIO]    Script Date: 13/01/2022 7:33:06 ******/
CREATE DATABASE [CONSULTORIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CONSULTORIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CONSULTORIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CONSULTORIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CONSULTORIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CONSULTORIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CONSULTORIO]
GO
/****** Object:  UserDefinedFunction [dbo].[MAYUSCULA]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MAYUSCULA] (@PALABRA VARCHAR (45))
RETURNS VARCHAR(45)
AS
BEGIN
SET @PALABRA = UPPER (@PALABRA) 
RETURN @PALABRA
END
GO
/****** Object:  UserDefinedFunction [dbo].[PRIMERA_MAYUSCULA]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PRIMERA_MAYUSCULA] (@PALABRA VARCHAR (45))
RETURNS VARCHAR(45)
AS
BEGIN
SET @PALABRA = UPPER (LEFT(@PALABRA, 1)) + LOWER (SUBSTRING(@PALABRA,2,LEN(@PALABRA))) 
RETURN @PALABRA
END
GO
/****** Object:  Table [dbo].[paciente]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paciente](
	[nombre] [varchar](30) NOT NULL,
	[apellidop] [varchar](20) NOT NULL,
	[apellidom] [varchar](20) NOT NULL,
	[clave_doctor] [int] NOT NULL,
	[curp] [varchar](18) NOT NULL,
	[sexo] [varchar](1) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[expediente] [int] NOT NULL,
	[telefono] [varchar](10) NOT NULL,
	[email] [varchar](40) NOT NULL,
	[direccion] [varchar](40) NOT NULL,
	[alergias] [varchar](30) NOT NULL,
	[ciudad] [varchar](20) NOT NULL,
 CONSTRAINT [PK_paciente_expediente] PRIMARY KEY CLUSTERED 
(
	[expediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_paciente_curp] UNIQUE NONCLUSTERED 
(
	[curp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_paciente_telefono] UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_PACIENTES]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_PACIENTES]
AS SELECT 
CONCAT(nombre, ' ', apellidop, ' ', apellidom) AS 'Nombre del paciente', CURP, sexo, fecha_nacimiento, Expediente, Telefono, Email, Direccion, Alergias, Ciudad
FROM PACIENTE
GO
/****** Object:  Table [dbo].[CITA]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITA](
	[dia] [date] NOT NULL,
	[hora_inicio] [varchar](5) NULL,
	[hora_termino] [varchar](5) NULL,
	[clave_doc] [int] NOT NULL,
	[expediente] [int] NOT NULL,
	[numeroCita] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CITA] PRIMARY KEY CLUSTERED 
(
	[numeroCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_HORARIO]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_HORARIO]
AS SELECT * 
FROM CITA 
WHERE dia BETWEEN Getdate() AND (SELECT DATEADD(DAY, 7, Getdate()))
GO
/****** Object:  View [dbo].[PROXIMAS_CITAS]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PROXIMAS_CITAS]
AS
SELECT TOP 3 P.nombre, P.sexo, P.fecha_nacimiento, P.telefono, P.alergias, C.dia, C.hora_inicio
FROM CITA AS C
INNER JOIN PACIENTE AS P
ON C.expediente = P.expediente
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[clave_doc] [int] NOT NULL,
	[contraseña] [varchar](15) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[apellidop] [varchar](20) NOT NULL,
	[apellidom] [varchar](20) NOT NULL,
	[especialidad] [varchar](20) NOT NULL,
	[email] [varchar](40) NOT NULL,
	[telefono] [varchar](10) NOT NULL,
 CONSTRAINT [PK_doctor_clave_doc] PRIMARY KEY CLUSTERED 
(
	[clave_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_doctor_telefono] UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_DOCTORES]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_DOCTORES]
AS
SELECT * FROM DOCTOR
GO
/****** Object:  Table [dbo].[HISTORIAL]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL](
	[fecha] [date] NOT NULL,
	[expediente] [int] NOT NULL,
	[medicamento] [varchar](40) NOT NULL,
	[nota] [varchar](200) NOT NULL,
	[entradaHist] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_HISTORIAL] PRIMARY KEY CLUSTERED 
(
	[entradaHist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_HISTORIAL]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_HISTORIAL]
AS
SELECT CONCAT(P.nombre, ' ', P.apellidop, ' ', P.apellidom) AS 'Nombre del paciente', H.fecha, P.expediente, H.medicamento, H.nota
FROM HISTORIAL AS H
INNER JOIN PACIENTE AS P
ON H.expediente = P.expediente
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[fecha] [datetime] NOT NULL,
	[notas] [varchar](255) NOT NULL,
	[serieLogs] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[serieLogs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[paciente] ADD  CONSTRAINT [DF__paciente__email__2E1BDC42]  DEFAULT ('Desconocido') FOR [email]
GO
ALTER TABLE [dbo].[paciente] ADD  CONSTRAINT [DF__paciente__direcc__2F10007B]  DEFAULT ('Desconocido') FOR [direccion]
GO
ALTER TABLE [dbo].[paciente] ADD  CONSTRAINT [DF__paciente__alergi__300424B4]  DEFAULT ('Desconocido') FOR [alergias]
GO
ALTER TABLE [dbo].[paciente] ADD  CONSTRAINT [DF__paciente__ciudad__30F848ED]  DEFAULT ('Desconocido') FOR [ciudad]
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD  CONSTRAINT [FK_cita_clave_doc] FOREIGN KEY([clave_doc])
REFERENCES [dbo].[DOCTOR] ([clave_doc])
GO
ALTER TABLE [dbo].[CITA] CHECK CONSTRAINT [FK_cita_clave_doc]
GO
ALTER TABLE [dbo].[CITA]  WITH CHECK ADD  CONSTRAINT [FK_cita_expediente] FOREIGN KEY([expediente])
REFERENCES [dbo].[paciente] ([expediente])
GO
ALTER TABLE [dbo].[CITA] CHECK CONSTRAINT [FK_cita_expediente]
GO
ALTER TABLE [dbo].[HISTORIAL]  WITH CHECK ADD  CONSTRAINT [KF_historial_expediente] FOREIGN KEY([expediente])
REFERENCES [dbo].[paciente] ([expediente])
GO
ALTER TABLE [dbo].[HISTORIAL] CHECK CONSTRAINT [KF_historial_expediente]
GO
/****** Object:  StoredProcedure [dbo].[AGREGAR_DOCTOR]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AGREGAR_DOCTOR]
@clave_doc INT,
@contraseña VARCHAR(15),
@nombre VARCHAR(30),
@apellidop VARCHAR(20),
@apellidom VARCHAR(20),
@especialidad VARCHAR(20),
@email VARCHAR(40),
@telefono VARCHAR(10)
AS
BEGIN
INSERT INTO DOCTOR VALUES 
(@clave_doc, @contraseña, dbo.PRIMERA_MAYUSCULA(@nombre), dbo.PRIMERA_MAYUSCULA(@apellidop), dbo.PRIMERA_MAYUSCULA(@apellidom), @especialidad, @email, @telefono)
END
GO
/****** Object:  StoredProcedure [dbo].[AGREGAR_HISTORIAL]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AGREGAR_HISTORIAL]
@fecha DATE,
@expediente int,
@medicamento varchar(40),
@nota varchar(200)
AS
BEGIN
INSERT INTO HISTORIAL VALUES
(@fecha, @expediente, @medicamento, @nota)
END
GO
/****** Object:  StoredProcedure [dbo].[AGREGAR_PACIENTE]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AGREGAR_PACIENTE]
@nombre VARCHAR(30),
@apellidop VARCHAR(20),
@apellidom VARCHAR(20),
@clave_doctor INT,
@curp VARCHAR(18),
@sexo VARCHAR(1),
@fecha_nacimiento DATE,
@expediente INT,
@telefono VARCHAR(10),
@email VARCHAR(40),
@direccion VARCHAR(40),
@alergias VARCHAR(30),
@ciudad VARCHAR(20)
AS
BEGIN
INSERT INTO PACIENTE VALUES(dbo.PRIMERA_MAYUSCULA(@nombre), (dbo.PRIMERA_MAYUSCULA(@apellidop)), (dbo.PRIMERA_MAYUSCULA(@apellidom)), @clave_doctor, dbo.MAYUSCULA(@curp), @sexo, 
@fecha_nacimiento, @expediente, @telefono, @email, @direccion, @alergias, (dbo.PRIMERA_MAYUSCULA(@ciudad)))
END
GO
/****** Object:  StoredProcedure [dbo].[BUSCAR_PACIENTE]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BUSCAR_PACIENTE]
@expediente INT
AS
BEGIN
SELECT * FROM PACIENTE 
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_CITA]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINAR_CITA]
@expediente INT 
AS
BEGIN
DELETE CITA WHERE expediente = @expediente
END
GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_DOCTOR]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ELIMINAR_DOCTOR]
@clave_doc INT
AS
BEGIN
DELETE CITA WHERE clave_doc = @clave_doc
DELETE DOCTOR WHERE clave_doc = @clave_doc
END


GO
/****** Object:  StoredProcedure [dbo].[ELIMINAR_PACIENTE]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ELIMINAR_PACIENTE]
@expediente INT 
AS
BEGIN
DELETE CITA WHERE expediente = @expediente
DELETE HISTORIAL WHERE expediente = @expediente
DELETE PACIENTE WHERE expediente = @expediente
END
GO
/****** Object:  StoredProcedure [dbo].[GENERAR_CITA]    Script Date: 13/01/2022 7:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GENERAR_CITA]
@dia DATE,
@hora_inicio time,
@hora_termino time,
@clave_doc int,
@expediente int
AS
BEGIN
INSERT INTO CITA VALUES
(@dia, @hora_inicio, @hora_termino, @clave_doc, @expediente)
END
GO
USE [master]
GO
